<div>
    <h2 class="text-info">About Us</h2>
<p class="text-justify">
QuiX Moving & Storage being based in New Delhi, India with aim is to provide dedicated and professional relocation services in India and across the globe. The current influx of professionals and their families moving globally has created a need for a relocation service provider, who understands the cultures and diversities, our team of internationally experienced relocation professionals is all set to provide transferees a smooth transition to their new location along with value for money. QuiX Moving & Storages is the complete moving partner of choice in India for corporate relocations. We move people and workplaces skillfully, sensitively and efficiently.</p>
<p class="text-justify">
QuiX Moving & Storage is the trusted leader for the design and management of domestic and international relocation and assignment services throughout the world. We passionately believe that our integrity, transparency, flexibility and commitment to our clients and each other enable us to deliver a cost effective Premium Services experience to everyone we serve.</p>

<p class="text-justify">
Clients choose us because we offer them the financial strength, stability and security, combined with the agility, personal feel and intimacy of a smaller, flexible organization. With more than 10 years of experience in mobility management, we have the local knowledge and worldwide network to provide employee relocation solutions in India and around the world.</p>

</div>

<div>
  
  
  <h2 class="text-info">Mission</h2> 
  <p class="text-justify">To be one of the best known relocation company for providing a comprehensive and personalized service, with a single point of contact leading to outstanding results.</p>
       
  
</div>

<div>
  
  <h2 class="text-info">Vision</h2> 
  <p> be the global Moving Company most admired for its people, partnership and performance.</p> 
  	
  <ul>
    <li>To offer a complete corporate and individual Relocation Program to suit all needs and budgets.</li>
    <li>To be regarded by : </li>
    <ul><li>Our customers as a world class provider of relocation services.</li>
    <li>Our employees as one of the best places to work.</li>
    <li>Our competitors as the industry benchmark.</li></ul>
  </ul>
</div>