<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a href="#" class="navbar-brand">Quix Moving</a></div>

  <ul class="navbar-nav">
    <li><a routerLink="/home" class="nav-link">Home</a></li>
    <li><a routerLink="/services" class="nav-link">Services</a></li>
    <li><a routerLink="/utilities" class="nav-link">Utilities</a></li>
    <li><a routerLink="/contact" class="nav-link">Contact</a></li>
    <li><a routerLink="/aboutus" class="nav-link">About Us</a></li>
    <li><a routerLink="/career" class="nav-link">Careers</a></li>
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Useful Links
      </a>
    
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="http://www.cbec.gov.in/" target="_blank">Central Board of Customs and Excise</a>
        <a class="dropdown-item" href="http://www.timeticker.com/" target="_blank">World Time</a>
        
      </div>
    </div>
    
  </ul>

  <ul class="navbar-nav navbar-collapse justify-content-end">
    <li><a routerLink="/login" class="nav-link">Login</a></li>
    <!-- <li><a routerLink="/logout" class="nav-link">Logout</a></li> -->
  </ul>
</nav>