<div class="container">
  
  <h2 class="text-info">Utilities</h2>
              
  <table class="table">
    <!-- <thead>
      <tr>
        <th>Firstname</th>
        <th></th>
        <th></th>
      </tr>
    </thead> -->
    <tbody>
      <tr>
        <td>1 inch</td>
        <td>2.54 centimeters</td>
        <td>25.4 millimeters</td>
      </tr>
      <tr>
        <td>1 foot</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>