<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/img/test2.jpg" alt="Los Angeles" width="1500" height="500">
      <div class="carousel-caption">
        <h3>QuiX Moving & Storage</h3>
        <p>“Enriching Lives Globally, with Quality & Affordable Services”</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="./assets/img/test1.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>QuiX Moving & Storage</h3>
        <p>“Enriching Lives Globally, with Quality & Affordable Services”</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="./assets/img/test2.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>QuiX Moving & Storage</h3>
        <p>“Enriching Lives Globally, with Quality & Affordable Services”</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- <div>
  <h2>About Company</h2>
  <p class="text-justify"><strong>QuiX Moving & Storage</strong>, A company that has clearly established itself amongst the top relocation & moving companies in the India and with clear focus on Quality, Customer Satisfaction, Value Addition and Business Ethics. QuiX Moving & Storage continues to grow rapidly, receiving patronage from some of the most reputed corporations, diplomatic missions, international agencies, as well as the Relocation & Art Fraternity around the world.</p>
</div> -->

<!-- <div>
   <h2> Mission </h2>
    <p>To be one of the best known relocation company for providing a comprehensive and personalized service, with a single point of contact leading to outstanding results.</p>
    
</div> -->


<div class="col-md-6 order-md-1" data-aos="fade">
    
    <h2 class="text-info">Our History</h2>
    
    <p class="text-justify"><strong>QuiX Moving & Storage</strong>, A company that has clearly established itself amongst the top relocation & moving companies in the India and with clear focus on Quality, Customer Satisfaction, Value Addition and Business Ethics. QuiX Moving & Storage continues to grow rapidly, receiving patronage from some of the most reputed corporations, diplomatic missions, international agencies, as well as the Relocation & Art Fraternity around the world.</p>

    
  </div>
  

  
  <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-info">What We Offer</h2>
            <p class="color-black-opacity-5">We Offer The Following Services</p>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-info flaticon-travel"></span></div>
              <div>
                <h3>Domestic Moving </h3>
                <p>If you are planning to relocate your employees, we know that the biggest tension that must be bothering them is how to pack all the household items, transport it safely, reliably, and cost effectively. Well, you need not worry anymore!</p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-info flaticon-sea-ship-with-containers"></span></div>
              <div>
                <h3>International Moving  </h3>
                <p>While any move significantly impacts your life, international relocation can be even more exciting and stressful. To help you make this process go as smoothly as possible, we are here to assist you.
                    
                    </p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-info flaticon-frontal-truck"></span></div>
              <div>
                <h3>Automobile </h3>
                <p>We are an ideal choice when you are looking for a dependable, quick and safe car transportation service. We understand your concerns about the safety of your prized possession and therefore we handle it with utmost care so that it is safely delivered to the destination. </p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-info flaticon-barn"></span></div>
              <div>
                <h3>Pet handling </h3>
                <p>It may be a hassle to travel with the pet while you are relocating, especially when it involves a long distance or international move. We at QuiX Moving & Storage, provide most comfortable and stress-free way for your pet to be moved. </p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-info flaticon-platform"></span></div>
              <div>
                <h3>Industrial Moving</h3>
                <p>QuiX Moving & Storage is equipped to handle virtually any kind of Industrial relocation such as relocation of capital equipments, delicate & sophisticated equipments, laboratory equipments, machinery and related apparatus and glassware etc</p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-info flaticon-car"></span></div>
              <div>
                <h3>Office Moving  </h3>
                <p>Shifting an entire office setup can be an extremely tedious task. However, we at QuiX Moving & Storage will make it easy for you.</p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>